// colorScheme
$dark-purple: #4E026E;
$medium-dark-purple: #64247F;
$purple: #7908AA;
$medium-light-purple: #A63CD4;
$light-purple: #B365D4;

$dark-green: #9EA400;
$medium-dark-green: #B8BE2F;
$green: #F3FD00;
$medium-light-green: #F7FE40;
$light-green: #F9FE72;

$row-gap: 16px;
$transition: 0.3s ease all;